body{
    font-family: "Alegreya Sans SC", serif;
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
  }

header img{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: slidein;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

.nav_links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.card{
  flex-basis: 450px;
}

.card h3{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

a:visited{
  color: #0000EE;
}

.pricing{
  display: flex;
  flex-direction: column;
}

.gallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.gallery > img{
  width: 300px;
  border: solid 10px #50C7C7;
  margin: 10px;
}
    
@keyframes slidein {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 425px;
    opacity: 1;
  }
}

@media screen and (min-width: 850px){
  body{
    font-family: "Alegreya Sans SC", serif;
    background-color: #f1f1f1;
    background-image: "../images/concrete_seamless.png";
  }
  
  header img{
    position: sticky;
    top: 0;
    align-items: left;
    justify-content: left;
  }
  
  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .pricing{
    display: flex;
    flex-direction: row;
  }

  .card{
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
  }

  .card h3{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .card_big{
    align-items: 450px;
  }

  a:visited{
    color: #0000EE;
  }

  .gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
  }

  .gallery > img{
    width: 300px;
    border: solid 10px #50C7C7;
    margin: 10px;
    }
}


@media all and (prefers-reduced-motion:reduce){
  header img{
		transition: none;
		animation: none;
	}
}