body{
    font-family: "Alegreya Sans SC", serif;
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
  }

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header img{
    animation-name: slidein;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

.nav_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.card{
  display: flex;
  flex-basis: 450px;
  flex-direction: column;
}

.card header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

a:visited{
  color: #0000EE;
}

.pricing{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
}

.gallery img{
  width: 300px;
  border: solid 10px #50C7C7;
  margin: 10px;
}
    
@keyframes slidein {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 425px;
    opacity: 1;
  }
}

@media screen and (min-width: 850px){
  header {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    left: 0;
    right: 0;
}
  
  body > header{
    position: sticky;
    top: 0;
  }
  
  .nav_links{
    flex-direction: row;
    justify-content: right;
  }

  .card{
    display: flex;
    flex-basis: 250px;
  }

  .pricing{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 250px;
    align-items: center;
    justify-content: center;
  }

}


@media all and (prefers-reduced-motion:reduce){
  header img{
		transition: none;
		animation: none;
	}
}


@media print {
    
  body {
      background-image: none;
  }

  .nav_links {
      display: flex;
      flex-direction: row;
      column-gap: 100px;
      justify-content: space-around;
  }

  .pricing {
      display: flex;
      flex-direction: row;
      align-items: bottom;
      flex-wrap: nowrap;
  }

  .gallery {
      display: none;
  }

  #gallery {
      display: none;
  }

  .card {
      display: flex;
      border: 2px solid #45ADDD;
      flex-basis: 250px;
      flex-wrap: nowrap;
  }

  .card h3 {
      background-color: #288088;
  }

  .card ul li:nth-child(odd)::before {
      content: "\1F44D";
  }

  .card ul li:nth-child(even)::after {
      content: "\1F44D";
  }

  footer {
      background-color: black;
  }

}